<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="DependencyCheckerSection" type="DependencyChecker.Configuration.DependenciesSection, DependencyChecker"/>
  </configSections>

  <DependencyCheckerSection
      title="Dependency checking tool"
      description="These dependencies are required if you want to download and view the source code and documentation.">
    <!-- 
    Register all of the evaluators that we'll need.
    This associates a name (of our choice) with a specific type implementing ICheckEvaluator.
    All of the included evaluators are registered below.
    -->
    <checkEvaluators>
      <checkEvaluator name="Registry" type="DependencyChecker.CheckEvaluators.RegistryCheckEvaluator, DependencyChecker"/>
      <checkEvaluator name="Software" type="DependencyChecker.CheckEvaluators.SoftwareCheckEvaluator, DependencyChecker"/>
      <checkEvaluator name="Expression" type="DependencyChecker.CheckEvaluators.ExpressionCheckEvaluator, DependencyChecker"/>
      <checkEvaluator name="Hotfix" type="DependencyChecker.CheckEvaluators.HotFixCheckEvaluator, DependencyChecker"/>
      <checkEvaluator name="NotSupported" type="DependencyChecker.CheckEvaluators.NotSupportedCheckEvaluator, DependencyChecker"/>
      <checkEvaluator name="Wmi" type="DependencyChecker.CheckEvaluators.WmiCheckEvaluator, DependencyChecker"/>
      <checkEvaluator name="WPI" type="DependencyChecker.CheckEvaluators.WpiCheckEvaluator, DependencyChecker"/>
      <checkEvaluator name="CodeBased" type="DependencyChecker.CheckEvaluators.CodeBasedCheckEvaluator, DependencyChecker"/>
      <checkEvaluator name="Certificate" type="DependencyChecker.CheckEvaluators.CertificateCheckEvaluator, DependencyChecker"/>
      <checkEvaluator name="MultiCertificate" type="DependencyChecker.CheckEvaluators.MultiCertificateCheckEvaluator, DependencyChecker"/>
      <checkEvaluator name="LoadProfile" type="DependencyChecker.CheckEvaluators.ProfileCheckEvaluator, DependencyChecker"/>
      <checkEvaluator name="Database" type="DependencyChecker.CheckEvaluators.DatabaseCheckEvaluator, DependencyChecker" />
      <checkEvaluator name="Sql" type="DependencyChecker.CheckEvaluators.SqlCheckEvaluator, DependencyChecker" />
      <checkEvaluator name="File" type="DependencyChecker.CheckEvaluators.FileCheckEvaluator, DependencyChecker" />
    
     <checkEvaluator name="FirstMatch" type="DependencyChecker.CheckEvaluators.FirstMatchRegistryCheckEvaluator, DependencyChecker"/>
    </checkEvaluators>

    <!--
    We initialize instances of the evaluators registered above. 
    We can have multiple evaluators of the same type.
    -->
    <checks>
      <check name="IIS" checkType="WPI" value="WASProcessModel!WASNetFxEnvironment!WASConfigurationAPI!MetabaseAndIIS6Compatibility!IIS7"/>
      <check name="WindowsAzureToolsVS2010" checkType="WPI" value="vwdorvs2010SP1azurepack"/>
      <check name="WindowsAzureToolsVS2012" checkType="WPI" value="vwdorvs11azurepack"/>
      <check name="WCF" checkType="Registry" value="HKLM:SOFTWARE\Microsoft\Net Framework Setup\ndp\v3.0\Setup\Windows Communication Foundation\HTTPActivation|HKLM:SOFTWARE\Wow6432Node\Microsoft\Net Framework Setup\ndp\v3.0\Setup\Windows Communication Foundation\HTTPActivation||"/>
      <check name="ASPNET" checkType="WPI" value="ASPNET45"/>
      <check name="AllCertificates" checkType="MultiCertificate" value="LocalMachine,My,f260042d59e14817984c6183fbc6bfc71baf5462|LocalMachine,TrustedPeople,f260042d59e14817984c6183fbc6bfc71baf5462|LocalMachine,My,DF476DB61A8A52D4AAEF5037406FB9D073F14B7F|LocalMachine,TrustedPeople,DF476DB61A8A52D4AAEF5037406FB9D073F14B7F|LocalMachine,My,d2316a731b59683e744109278c80e2614503b17e|LocalMachine,TrustedPeople,d2316a731b59683e744109278c80e2614503b17e|LocalMachine,My,fe58cb789562526dc21a50a6eea34757e9693cb1|LocalMachine,TrustedPeople,fe58cb789562526dc21a50a6eea34757e9693cb1"/>
      <check name="HttpsConfigured" checkType="CodeBased" value="df476db61a8a52d4aaef5037406fb9d073f14b7f"/>
      <check name="SqlSetup" checkType="FirstMatch" value="HKLM:SOFTWARE\Microsoft\Microsoft SQL Server\SQLEXPRESS\MSSQLServer\CurrentVersion|HKLM:SOFTWARE\Wow6432Node\Microsoft\Microsoft SQL Server\SQLEXPRESS\MSSQLServer\CurrentVersion|CurrentVersion|11!HKLM:SOFTWARE\Microsoft\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQLServer\CurrentVersion|HKLM:SOFTWARE\Wow6432Node\Microsoft\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQLServer\CurrentVersion|CurrentVersion|11" />
      <check name="DbSetup" checkType="Database" value="alias=WAGSqlAlias!db=adatum-survey" />
      <check name="ProfileIsEnabled" checkType="LoadProfile" value="6.1=ASP.NET v4.0|6.2=DefaultAppPool" />
      <check name="VS" checkType="FirstMatch" value="HKLM:SOFTWARE\Microsoft\VisualStudio\10.0\Setup\VS\BuildNumber|HKLM:SOFTWARE\Wow6432Node\Microsoft\VisualStudio\10.0\Setup\VS\BuildNumber|1033|!HKLM:SOFTWARE\Microsoft\VisualStudio\11.0\Setup\VS\BuildNumber|HKLM:SOFTWARE\Wow6432Node\Microsoft\VisualStudio\11.0\Setup\VS\BuildNumber|1033|"/>
      <check name="WebAiiFwk" checkType="File" value="..\\..\\Lib\\WebAii\\ArtOfTest.WebAii.dll" />

    </checks>

    <!--
    Here we define the dependencies using the checks defined above. 
    These entries provide additional information such as explanatory text for the user
    and friendly display names as well as identify prerequisites.
    -->
    <MinimumRequirements MinimumOSBuildNumber="3790">
      <dependency check="IIS"
        enabled="true"
        category="Required"
        title="Internet Information Services"
        explanation="Internet Information Services is required run the samples."
        scriptName="cmd:DependencyChecker.Commands.WpiCommandLine"
        settings="WASProcessModel,WASNetFxEnvironment,WASConfigurationAPI,MetabaseAndIIS6Compatibility,IIS7"/>

      <dependency check="WCF"
        enabled="true"
        category="Required"
        title="Windows Communication Foundation enabled in IIS"
        explanation="Windows Communication Foundation must be enabled to run the samples."
        scriptName="cmd:DependencyChecker.Commands.RegisterAspnetCommand"
        dependsOn="IIS"/>

      <dependency check="ASPNET"
        enabled="true"
        category="Required if Using Windows 8"
        title="ASP.NET installed"
        explanation="ASP.NET is required to run the samples."
        scriptName="cmd:DependencyChecker.Commands.WpiCommandLine"
        settings="ASPNET45"
        dependsOn="VS"/>

      <dependency check="VS"
        enabled="true"
        category="Required"
        title="Visual Studio 2010 or later"
        explanation="Visual Studio 2010 or later is required to run the samples."
        downloadUrl="http://go.microsoft.com/fwlink/?LinkId=178875"/>

      <dependency check="WindowsAzureToolsVS2012"
        enabled="true"
        category="Required if using Visual Studio 2012"
        title="Windows Azure SDK for .NET"
        explanation="Windows Azure SDK for .NET is required to run the samples."
        scriptName="cmd:DependencyChecker.Commands.WpiCommandLine"
        settings="vwdorvs11azurepack"
        dependsOn="VS"/>      

      <dependency check="WindowsAzureToolsVS2010"
        enabled="true"
        category="Required if using Visual Studio 2010"
        title="Windows Azure SDK for .NET"
        explanation="Windows Azure SDK for .NET is required to run the samples."
        scriptName="cmd:DependencyChecker.Commands.WpiCommandLine"
        settings="vwdorVs2010SP1AzurePack"
        dependsOn="VS"/>

      <dependency check="DbSetup"
        enabled="true"
        category="Required"
        title="Database for samples"
        explanation="SQL Server must be installed. If you are not using SQL Express you must provide the instance name in the check name='DbSetup' setting of the App.config file in the Dependency Checker folder."
        scriptName="cmd:DependencyChecker.Commands.CreateDatabaseCommand"
        settings="sqlInstanceName=SQLEXPRESS!alias=WAGSqlAlias!db=adatum-survey!registerAspNetSql=false!addAspNetUsers=true!aspNetAppPoolWin7=IIS APPPOOL\ASP.NET v4.0!aspNetAppPoolWin8=IIS APPPOOL\DefaultAppPool"
        />

      <dependency check="ProfileIsEnabled"
       enabled="true"
       category="Required"
       title="Application Pool User Profile Enabled"
       explanation="Load User Profile must be enabled for the Application Pool."
       scriptName="cmd:DependencyChecker.Commands.SetupProfileCommand"
       settings="6.1=ASP.NET v4.0|6.2=DefaultAppPool"/>

      <dependency check="AllCertificates"
       enabled="true"
       category="Required"
       title="Certificates for samples"
       explanation="Certificates required by the samples. Note that these certificates are for for use only during developing and testing."
       scriptName="cmd:DependencyChecker.Commands.CertificateSetupCommand"
       settings=".\certs\localhost.pfx,TrustedPeople,xyz|.\certs\localhost.pfx,My,xyz|.\certs\adatum.pfx,TrustedPeople,Passw0rd!|.\certs\adatum.pfx,My,Passw0rd!|.\certs\fabrikam.pfx,TrustedPeople,Passw0rd!|.\certs\fabrikam.pfx,My,Passw0rd!|.\certs\tailspin.pfx,TrustedPeople,Passw0rd!|.\certs\tailspin.pfx,My,Passw0rd!|.\certs\root.cer,AuthRoot,"
       />

      <dependency check="HttpsConfigured"
        enabled="true"
        category="Required"
        title="Https configured in IIS"
        explanation="HTTPS binding must be configured in IIS. You must install IIS first if it is not already installed."
        scriptName="cmd:DependencyChecker.Commands.SetupHttpsCommand"
        settings="df476db61a8a52d4aaef5037406fb9d073f14b7f"
        dependsOn="IIS"/>

      <dependency check="WebAiiFwk"
        enabled="true"
        category="Installation: Only required to run functional tets"
        title="WebAii Testing Framework"
        explanation="WebAii Testing Framework is used in the functional tests. It must be placed in the Lib folder of the project. See the readme file in that folder for details."
        downloadUrl="http://www.telerik.com/automated-testing-tools/webaii-framework-features.aspx"/>

    </MinimumRequirements>
  </DependencyCheckerSection>

  <startup>
    <startup>
      <supportedRuntime version="v3.5"/>
      <supportedRuntime version="v4.0.30319"/>
    </startup>
  </startup>

</configuration>