<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Tailspin.Web.Survey.Shared.Properties.Settings.adatum_surveyConnectionString" connectionString="Data Source=.\SQLExpress;Initial Catalog=adatum-survey;Integrated Security=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.ApplicationServer.Caching.Core" publicKeyToken="31BF3856AD364E35" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-101.0.0.0" newVersion="1.0.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
